body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
    position: relative;
}

.listItem {
    display: flex;
    width: 60%;
    font-size: 1.4em;
    margin: 14px 0 14px 4px;
    cursor: pointer;
    align-items: center;
    border-bottom: 2px solid #9e9e9e;
    padding-bottom: 5px;
    border-radius: 2px;
    color: #9e9e9e;
    transition: all 0.1s;
    margin-bottom: 25px;
    overflow: hidden;
}
#lists {
    overflow: hidden;
}

.listItemActive {
    border-color: black;
    color: black;
}

.listItem i {
    margin-right: 15px;
    transition: 0.2s;
}
.listItem i:hover {
    color: rgba(255, 59, 48, 0.94);
}

.header {
    background-color: #11122b;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 28px 100px;
}
.page-container {
    display: flex;
}
.page-container > .side-bar {
    /* width: 500px; */
    height: 720px;
    background-color: #dadfea;
    position: relative;
    padding-top: 20px;
    font-family: "Nunito", sans-serif;
    overflow: hidden;
}
#container {
    overflow: hidden;
    width: 500px;
}
.page-container > .side-bar > #container > .input {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    height: 40px;
}
.page-container > .side-bar > #container > .input input {
    width: 50%;
    padding: 0;
    padding-left: 15px;
    margin: 0;
    border: none;
}
.page-container > .side-bar > #container > .input button {
    width: 50%;
    padding: 0;
    margin: 0;
    background-color: rgba(17, 18, 43, 0.4);
    border: none;
    color: white;
}
.page-container > .task-container {
    width: 100%;
    position: relative;
}
.page-container > .task-container > .heading {
    background-color: #cbcbcb;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    height: 40px;
}
.list-container {
    padding-left: 35px;
    padding-top: 30px;
}
.page-container > .task-container > .footer {
    position: absolute;
    top: 100px;
    height: 40px;
    width: 500px;
    margin: 0;
    display: flex;
}
.page-container > .task-container > .footer input {
    border: none;
    padding: 0;
    padding-left: 15px;
    background-color: #dadfea;
    height: 40px;
    margin: 0;
    width: 50%;
}
.page-container > .task-container > .footer button {
    height: 50px;
    margin: 0;
    background-color: rgba(17, 18, 43, 0.4);
    padding: 0;
    height: 40px;
    width: 50%
}
.text {
    margin: 15px 0;
    padding-left: 27px;
    font-size: 1.39em;
    display: flex;
    align-items:center;
}
.text i {
    font-size: 0.95em;
    margin-right: 14px;
    cursor: pointer;
}
.text:first-child {
    margin-top: 70px;
}
.item {
    width: 100%;
}
.fa-circle {
    transition: 0.19s;
}
.fa-circle:hover {
    background-color: rgba(48, 208, 88, 0.4);
    border-radius: 100%;
}
.fa-check-circle {
    color: rgba(48, 209, 88);
}
.modal-container {
    display: none;
    background-color: rgba(17, 18, 43, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 101%;
}
.modal-container > .modal-content {
    background-color: white;
    width: 33%;
    margin: 0 auto;
    margin-top: 17%;
    height: 300px;
    border-radius: 5px;
    padding: 20px;
}
.modal-container .sign-in {
    font-size: 2em;
    text-align: center;
}
.modal-container .sign-in i {
    margin-top: 25px;
    font-size: 1.4em;
}
.modal-container .sign-in-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.modal-container .modal-input-wrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}
#create-account-modal .modal-content{
    height: 400px;
}
#create-account-modal .modal-input-wrapper {
    width: 75%;
    font-size: 0.9em;
}
.modal-container .modal-input {
    margin: 20px 0;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}
.modal-container .close {
    font-weight: 750;
    cursor: pointer;
}
.modal-container .create-account {
    text-align: center;
    font-size: 0.9em;
}
#currentList {
    font-size: 2.2em;
}
.modal-container button {
    font-size: 1em;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #31D158;
    border: none;
    color: white;
}
.flexbtn {
    display: flex;
    flex-direction: column;
}
.flexbtn button {
    width: 50%;
    margin: 10px auto;
    height: 35px;
}
.left-side {
    display: flex;
    align-items: center;
}
